---
import MainLayout from '../../layouts/MainLayout.astro';
import Article from '../../components/astro/Article.astro';
---

<MainLayout title="Huawei Mobile Services - Mert's Desktop">
  <div class="max-w-4xl mx-auto px-4 py-8">
    <Article
      title="Huawei Mobile Services"
      year="2020"
      pills={[
        { label: 'Website', value: 'https://developer.huawei.com/' },
        {
          label: 'GitHub',
          value: 'https://github.com/HMS-Core/hms-react-native-plugin/',
        },
        { label: 'Platform', value: 'Android, React Native' },
        {
          label: 'Stack',
          value: 'React.js, TypeScript, React Native, Android Studio, Java',
        },
      ]}
      images={['/images/hms-map.jpg', '/images/hms-map2.png']}
    >
      <p class="indent-4">
        Huawei Mobile Services enables developers to integrate Huawei services
        like HMS Map, HMS Health, HMS Nearby, etc. HMS Services are available for
        React Native, Flutter, Ionic/Capacitor, Xamarin platforms for people to
        use.
      </p>
    </Article>
  </div>
</MainLayout>