---
import classNames from 'classnames';

interface Props {
  thumbnail: string;
  title?: string;
  description: string;
  url: string;
  blank?: boolean;
}

const { thumbnail, title, description, url, blank } = Astro.props;
---

<li>
  <a
    href={url}
    target={blank ? '_blank' : undefined}
    rel={blank ? 'noopener noreferrer' : undefined}
    aria-label={title || description}
    class="flex flex-col items-center no-underline h-full p-4 rounded-md hover:bg-background-100 dark:hover:bg-gray-800 transition-colors"
  >
    <img
      class="rounded-md h-[200px] w-full object-cover"
      src={thumbnail}
      alt={title || description}
      height={200}
      width={400}
    />
    {title && <h3 class="text-xl mt-2 font-medium">{title}</h3>}
    <p class={classNames('text-center', !title && 'mt-2')}>
      {description}
    </p>
  </a>
</li>