@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Theme */

    --background-50: 255, 247, 237; /* Main - Soft Orange */
    --background-100: 255, 237, 213; /* Navbar/Footer */
    --background-200: 254, 215, 170; /* Hover */
    --background-300: 253, 186, 116; /* Active */

    --text-primary: 51, 51, 51; /* Primary text */
    --text-secondary: 82, 82, 82; /* Secondary text */
    --text-tertiary: 130, 130, 130; /* Disabled text */

    --primary-50: 238, 242, 255;
    --primary-100: 224, 231, 255;
    --primary-200: 199, 210, 254;
    --primary-300: 165, 180, 252;
    --primary-400: 129, 140, 248;
    --primary-500: 99, 102, 241;
    --primary-600: 79, 70, 229;
    --primary-700: 67, 56, 202;
    --primary-800: 55, 48, 163;
    --primary-900: 49, 46, 129;

    /* Error Colors */
    --error-100: 254, 242, 242; /* Lightest */
    --error-200: 254, 202, 202; /* Light */
    --error-300: 252, 129, 129; /* Medium */
    --error-400: 245, 101, 101; /* Darkest */
  }

  .dark {
    --background-50: 31, 41, 55; /* Main */
    --background-100: 41, 51, 65; /* Navbar/Footer */
    --background-200: 51, 61, 75; /* Hover */
    --background-300: 61, 71, 85; /* Active */

    --text-primary: 243, 244, 246; /* Primary text */
    --text-secondary: 229, 231, 235; /* Secondary text */
    --text-tertiary: 209, 213, 219; /* Disabled text */
  }
}
