@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: reg(0, 0, 0);
  --background-rgb: rgb(240, 231, 219);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-rgb: rgb(32, 32, 35);
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}
